jenkinsdemo/src/main/mule/jenkinsdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="19f243d8-0b4d-468b-815d-9b52213d1868" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkinsdemoFlow" doc:id="25a106e8-25f2-464f-b40f-248682903c5b" >
		<http:listener doc:name="Listener" doc:id="65211608-8b70-46a8-9e85-2926f45838cc" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<set-payload value="sucessfully completed jenkins" doc:name="Set Payload" doc:id="e5722a37-b477-4b1b-9c32-788af2fd96e3" />
		<logger level="INFO" doc:name="Logger" doc:id="e4b5d53d-5064-4ad2-a5cc-fb3a0c5e9f15" message="#[payload]"/>
	</flow>
</mule>
